<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешная верификация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        h2 {
            color: #0d9aea;
        }
    </style>
</head>
<body>

<h2>Верификация успешна! Номер телефона подтвержден.</h2>
<a href="{% url 'home' %}">Главная страница</a>

</body>
</html>
